* {
  background-color: #131824;
  color: #ffffff;
  font-family:roboto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.title2{
  color: #3c80ff;
}

h1{
  font-size:50px;
  margin: 0px;
}

.tagline{
  text-align: center;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 400;
  color: #d1d5db;
  font-weight: 300;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#drop-area input[type="file"] {
  display: none;
}

#drop-area{
  width: 70%;
  height: 180px;
  border: 2px solid #262a37;
  border-radius: 10px;
  background-color:#101624;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.2s;
}

#drop-area:hover, #drop-area.highlight {
  cursor: pointer;
  background-color:#181d2b;
}

#upload-image{
  font-size: 45px;
  opacity: 77%;
  background: none;
}

.upload-text{
  opacity: 80%;
  font-size: 18px;
  background-color: transparent;
}

#upload-image i {
  background: none;
  border: none;
}

.upload-text-container{
  width: 230px;
  background-color:transparent;
}

.job-desc{
  width: 70%;
  height: 125px;
  border: 2px solid #262a37;
  border-radius: 10px;
  background-color:#101624;
  text-align: left;
  display: flex;
  resize: none;
  outline: none;
  transition: all 0.3s ease;
  padding: 16px 16px;
  font-size: 16px;
}

.job-desc-label{
  font-weight: 350;
  opacity: 95%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
}

.job-desc:focus{
  background-color:#181d2b;
}

.job-desc:focus::placeholder{
  opacity: 0;
}

.submit-button{
  background-color: #3b80fe;
  border-radius: 12px;
  min-width: 270px;
  border: 0px;
  height: 52px;
  align-self: center;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid transparent;
  transition: background-color 0.2s, border-color 0.2s;
}

.submit-button:hover{
  background-color: #131824;
  cursor: pointer;
  border-color:#3b80fe;
}

.submit-area{
  display: flex;
  justify-content: center;
}