<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>HireBoost</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LH21FLQGWM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LH21FLQGWM');
    </script>

    <body>
        <div class="header">
            <div class="header-left">
                <h1 class>Hire</h1>
            </div>
            <div class="header-right">
                <h1 class = "title2">Boost</h1>
            </div>
        </div>

        <p class="tagline">Optimise your CV to match the job listing</p>
        
        <form id="optimise-form" enctype="multipart/form-data" class="form">
            
            <label id="drop-area">
                <input type="file" name="cv_file" accept="application/pdf" required >
                <div id="upload-image">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </div>
                <div class="upload-text-container">
                    <p class="upload-text">Drag & drop your CV (PDF) here or click to upload</p>
                </div>
            </label><br>

            <label class="job-desc-label">Job Description:</label><br>
            <textarea name="job_desc" placeholder="Paste the job description here" class="job-desc"></textarea><br>
            
            <div class="checkbox">
                <input type="checkbox" id="consent" name="consent" required>
                <label for="consent">
                I consent to my CV and job description being temporarily processed by this service and sent to a secure AI service (Google Gemini) to generate optimised content. 
                I understand that my files will be deleted immediately after processing and will not be stored or shared otherwise.
                </label>
            </div>

            <div class="submit-area">
                <input type="submit" value="Optimise CV" class="submit-button">
            </div>
        </form>

        <div id="result-output"></div>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>